<ExtContainer padding="0" layout="fit" fitToParent="true" (ready)="this.comFun.keyMap($event,this)">

    <!--공통버튼-->
    <AuthButton
        #authButton
        [route]= "route"
        ([authButtonDisabled])="authButtonDisabled"
        (onTapQuery)="onTapQuery()"
        (onTapNew)="onTapNew()"
        (onTapEdit)="onTapEdit()"
        (onTapSave)="onTapSave()"
        (onTapDelete)="onTapDelete()"
        (onTapRequest)="onTapRequest()"
        (onTapApproval)="onTapApproval()"
        (onTapDenied)="onTapDenied()"
        (onExportExcel)="onExportExcel()"
        (onExportPdf)="onExportPdf()"
        (onTapCancel)="onTapCancel()"
    ></AuthButton>
    <ExtPanel [shadow]="true" [layout]="{type: 'vbox', align: 'stretch'}" style="background-color: white;">

        <!-- 검색 위치 -->
        <ExtPanel [flex]="0.1" [border]="true" [layout]="{type: 'hbox', align: 'stretch'}" [bodyStyle]="{'background': '#ffffff'}">
            <ExtFieldset layout="hbox">
                <ExtTextfield label="검색" 
                    #searchField
                    [flex]="1"
                    [triggers]="{click: {type: 'search', side: 'right'}}"
                    (keyup)="searchBtn($event.sender.rawValue)"
                >
                </ExtTextfield>
            </ExtFieldset>
        </ExtPanel>

        <!-- 메인 위치 -->
        <ExtPanel [flex]="0.9" [border]="true" [layout]="{type: 'hbox', align: 'stretch'}">

            <ExtPanel [flex]="1" [border]="true">

                <ExtContainer layout="fit" fitToParent="true" [flex]="1">
                    <ExtTitlebar 
                        docked="top" 
                        [platformConfig]="{ 
                        phone   : { titleAlign: 'center' } 
                    ,   desktop : { titleAlign: 'left' }
                    }" 
                    [height]="30"
                    >
                        <ExtTitle [title]="'회사코드'" [style]="{'font-size': '13px', 'margin-bottom': '13px'}"></ExtTitle>
                    </ExtTitlebar>

                    <div #extitem style="width: 100%; height: 100%;">
                        <ag-grid-angular  #agGrid 
                            style="width: 100%; height: 100%;" class="ag-theme-balham" 
                            [rowData]="compmGridConfig.rowData"
                            [defaultColDef]="compmGridConfig.defaultColDef" 
                            [columnDefs]="compmGridConfig.columnDefs"
                            [enableCellChangeFlash]="true" 
                            [rowDragManaged]="true" 
                            [animateRows]="true"
                            [undoRedoCellEditing]="compmGridConfig.isUndo"
                            [undoRedoCellEditingLimit]="compmGridConfig.undoLimit"
                            [suppressRowClickSelection]="compmGridConfig.gridClickOption" 
                            [groupSelectsChildren]="true" 
                            rowSelection="multiple"
                            (gridReady)="compmGridConfig.onReadyGrid($event)"
                            (cellValueChanged)="compmGridConfig.onCellValueChanged($event)"
                            (selectionChanged)="compmGridSelection($event)"
                            (selectionChanged)="checkSelectRow($event)"
                        >
                        </ag-grid-angular>                          
                    </div>
                </ExtContainer>
            </ExtPanel>
            <ExtPanel [flex]="1" layout="fit" [border]="true" [maxWidth]="1400" [minWidth]="200" 
                [layout]="{type: 'vbox', align: 'stretch'}" [resizable]="{edges: 'west', dynamic: true}">

                <ExtContainer layout="fit" fitToParent="true" [flex]="1">
                    <ExtTitlebar 
                        docked="top" 
                        [platformConfig]="{ 
                        phone   : { titleAlign: 'center' } 
                    ,   desktop : { titleAlign: 'left' }
                    }" 
                    [height]="30"
                    >
                        <ExtTitle [title]="'회사코드 정보'" [style]="{'font-size': '13px', 'margin-bottom': '13px'}"></ExtTitle>
                    </ExtTitlebar>

                    <ExtFormpanel [data]="compmModel" [flex]="1" padding="0" layout="vbox" [bodyStyle]="{'background': '#ffffff'}">

                        <ExtFieldset layout="hbox">
                            <ExtTextfield label="사업업체번호" [disabled]="this.compmFormDisable" 
                                [value]="(compmModel.useCompNo || '')" 
                                (keyup)="compmModel.useCompNo = $event.sender.rawValue"
                                (blur)="compmModel.useCompNo = $event.sender.rawValue" 
                                [flex]="1"
                                [required]="this.textRequired"
                                [requiredMessage]="'업체번호를 입력하지 않았습니다.'"
                            ></ExtTextfield>

                            <ExtTextfield label="사업업체명칭" [disabled]="this.compmFormDisable" 
                                [value]="(compmModel.useCompNm || '')"
                                (keyup)="compmModel.useCompNm = $event.sender.rawValue"
                                (blur)="compmModel.useCompNm = $event.sender.rawValue" 
                                [flex]="1"
                                style="margin-left: 20px;"
                                [required]="this.textRequired"
                                [requiredMessage]="'업체명칭을 입력하지 않았습니다.'"
                            ></ExtTextfield>

                            <ExtTextfield label="업태" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.busiBtypeNm || '')"
                                (keyup)="compmModel.busiBtypeNm = $event.sender.rawValue"
                                (blur)="compmModel.busiBtypeNm = $event.sender.rawValue" 
                                [flex]="1"
                                style="margin-left: 20px;"
                            ></ExtTextfield>
                        </ExtFieldset>

                        <ExtFieldset layout="hbox">
                            <ExtTextfield label="종목" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.busiBkindNm || '')"
                                (keyup)="compmModel.busiBkindNm = $event.sender.rawValue"
                                (blur)="compmModel.busiBkindNm = $event.sender.rawValue" 
                                [flex]="1"
                            ></ExtTextfield>

                            <ExtTextfield label="사업자번호" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.busiNo || '')"
                                (keyup)="compmModel.busiNo = $event.sender.rawValue"
                                (blur)="compmModel.busiNo = $event.sender.rawValue" 
                                [flex]="1"   
                                style="margin-left: 20px;"
                            ></ExtTextfield>

                            <ExtTextfield label="법인번호" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.cbodyRegNo || '')"
                                (keyup)="compmModel.cbodyRegNo = $event.sender.rawValue"
                                (blur)="compmModel.cbodyRegNo = $event.sender.rawValue" 
                                [flex]="1"   
                                style="margin-left: 20px;"
                            ></ExtTextfield>
                        </ExtFieldset>

                        <ExtFieldset layout="hbox">
                            <ExtCombobox label="{{ '업체구분' | translate }}" 
                                placeholder=""
                                [flex]="1"
                                [disabled]="this.compmFormDisable"
                                [editable]="false"
                                [store]="this.buisnessType" 
                                [valueField]="'comboId'"
                                [displayField]="'comboNm'" 
                                [clearable]="true"
                                [textAlign]="'left'" 
                                [forceSelection]="true"
                                [value]="(compmModel.custDiv || '')"
                                (select)="compmModel.custDiv = $event.newValue.data.comboId"
                            >
                            </ExtCombobox>

                            <ExtTextfield label="업종코드" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.cateCd || '')"
                                (keyup)="compmModel.cateCd = $event.sender.rawValue"
                                (blur)="compmModel.cateCd = $event.sender.rawValue"   
                                [flex]="1"   
                                style="margin-left: 20px;"
                            ></ExtTextfield>

                            <ExtTextfield label="총괄납부번호" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.totPayNo || '')"
                                (keyup)="compmModel.totPayNo = $event.sender.rawValue"
                                (blur)="compmModel.totPayNo = $event.sender.rawValue"  
                                [flex]="1"   
                                style="margin-left: 20px;"
                            ></ExtTextfield>
                        </ExtFieldset>

                        <ExtFieldset layout="hbox">
                            <ExtTextfield label="총괄사업장코드" [disabled]="this.compmFormDisable"
                                [value]="(compmModel.totSiteCd || '')"
                                (keyup)="compmModel.totSiteCd = $event.sender.rawValue"
                                (blur)="compmModel.totSiteCd = $event.sender.rawValue" 
                                [flex]="1"   
                            ></ExtTextfield>

                            <ExtDatefield label="개업일자" [disabled]="this.compdFormDisable" 
                                [value]="(compmModel.openYmd || '')" 
                                destroyPickerOnHide="true"
                                [dateFormat]="'Ymd'"
                                (keyup)="compmModel.openYmd = $event.sender.rawValue"
                                (blur)="compmModel.openYmd = $event.sender.rawValue"
                                [flex]="1"
                                style="margin-left: 20px;"
                            ></ExtDatefield>

                            <ExtDatefield label="폐업일자" [disabled]="this.compdFormDisable" 
                                [value]="(compmModel.bcloseYmd || '')" 
                                destroyPickerOnHide="true"
                                [dateFormat]="'Ymd'"
                                (keyup)="compmModel.bcloseYmd = $event.sender.rawValue"
                                (blur)="compmModel.bcloseYmd = $event.sender.rawValue"
                                [flex]="1"
                                style="margin-left: 20px;"
                            ></ExtDatefield>
                        </ExtFieldset>

                        <ExtFieldset layout="hbox">
                            <ExtCombobox label="{{ '세무관리유형' | translate }}" 
                                placeholder=""
                                [flex]="1"     
                                [disabled]="this.compmFormDisable"
                                [editable]="false"
                                [store]="this.taxType" 
                                [valueField]="'comboId'"
                                [displayField]="'comboNm'" 
                                [clearable]="true"
                                [textAlign]="'left'" 
                                [forceSelection]="true"
                                [value]="(compmModel.taxCntlType || '')"
                                (select)="compmModel.taxCntlType = $event.newValue.data.comboId"   
                            >
                            </ExtCombobox>

                            <ExtCombobox label="{{ '원가대체여부' | translate }}" 
                                placeholder=""
                                [flex]="1"     
                                style="margin-left: 20px;"
                                [disabled]="this.compmFormDisable"
                                [editable]="false"
                                [store]="this.primeYn" 
                                [valueField]="'comboId'"
                                [displayField]="'comboNm'" 
                                [clearable]="true"
                                [textAlign]="'left'" 
                                [forceSelection]="true"
                                [value]="(compmModel.primeRepmYn || '')"
                                (select)="compmModel.primeRepmYn = $event.newValue.data.comboId"     
                            >
                            </ExtCombobox>

                            <ExtTextfield label="대표전화번호" [disabled]="this.compmFormDisable" 
                                [value]="(compmModel.reprTelNo || '')" 
                                (keyup)="compmModel.reprTelNo = $event.sender.rawValue"
                                (blur)="compmModel.reprTelNo = $event.sender.rawValue"    
                                [flex]="1"     
                                style="margin-left: 20px;"
                            ></ExtTextfield>
                        </ExtFieldset>

                        <ExtFieldset>
                            <ExtTextfield label="비고" [disabled]="this.compmFormDisable" 
                                [value]="(compmModel.remk || '')"
                                (keyup)="compmModel.remk = $event.sender.rawValue"
                                (blur)="compmModel.remk = $event.sender.rawValue"    
                            ></ExtTextfield>
                        </ExtFieldset>
                    </ExtFormpanel>
                </ExtContainer>

            </ExtPanel>
        </ExtPanel>

        <ExtPanel [flex]="1.5" [border]="true" [layout]="{type: 'hbox', align: 'stretch'}">

            <ExtPanel [flex]="1" [border]="true">
                
                <ExtContainer layout="fit" fitToParent="true" [flex]="1">
                    <ExtTitlebar 
                        docked="top" 
                        [platformConfig]="{ 
                        phone   : { titleAlign: 'center' } 
                    ,   desktop : { titleAlign: 'left' }
                    }" 
                    [height]="30"
                    >
                        <ExtTitle [title]="'회계기 정보'" [style]="{'font-size': '13px', 'margin-bottom': '13px'}"></ExtTitle>
                    </ExtTitlebar>

                    <div #extitem style="width: 100%; height: calc(100% - 70px);">
                        <ag-grid-angular 
                            #agGrid 
                            style="width: 100%; height: 100%;" class="ag-theme-balham" 
                            [rowData]="compdGridConfig.rowData"
                            [defaultColDef]="compdGridConfig.defaultColDef" 
                            [columnDefs]="compdGridConfig.columnDefs"
                            [enableCellChangeFlash]="true" 
                            [rowDragManaged]="true" 
                            [animateRows]="true"
                            [undoRedoCellEditing]="compdGridConfig.isUndo"
                            [undoRedoCellEditingLimit]="compdGridConfig.undoLimit"
                            [suppressRowClickSelection]="compdGridConfig.gridClickOption" 
                            [groupSelectsChildren]="true" 
                            rowSelection="multiple"
                            [suppressRowClickSelection]="false"
                            (gridReady)="compdGridConfig.onReadyGrid($event)"
                            (cellValueChanged)="compdGridConfig.onCellValueChanged($event)"
                            (selectionChanged)="compdGridSelection($event)"
                        >
                        </ag-grid-angular>
                    </div>
                </ExtContainer>
            </ExtPanel>

            <ExtPanel [flex]="1" layout="fit" [border]="true" [maxWidth]="1400" [minWidth]="200" 
                [layout]="{type: 'vbox', align: 'stretch'}" [resizable]="{edges: 'west', dynamic: true}">

                <ExtContainer layout="fit" fitToParent="true" [flex]="1">
                    <ExtTitlebar 
                        docked="top" 
                        [platformConfig]="{ 
                        phone   : { titleAlign: 'center' } 
                    ,   desktop : { titleAlign: 'left' }
                    }" 
                    [height]="30"
                    >
                        <ExtTitle [title]="'회계기 상세정보'" [style]="{'font-size': '13px', 'margin-bottom': '13px'}"></ExtTitle>
                    </ExtTitlebar>

                    <ExtFormpanel style="width: 100%; height: calc(100% - 70px);" padding="0" layout="vbox" [bodyStyle]="{'background': '#ffffff'}">

                        <ExtPanel [flex]="5" [border]="true" [bodyStyle]="{'background': '#ffffff'}" [scrollable]="true">

                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="회계 기" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.useCompKi || '')" 
                                    (keyup)="compdModel.useCompKi = $event.sender.rawValue"
                                    (blur)="compdModel.useCompKi = $event.sender.rawValue"
                                    [flex]="1"
                                    [required]="this.textRequired"
                                    [requiredMessage]="'회계기를 입력하지 않았습니다.'"
                                ></ExtTextfield>

                                <ExtDatefield
                                    label="회계연도시작일" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.frYmd || '')" 
                                    destroyPickerOnHide="true"
                                    [dateFormat]="'Ymd'"
                                    (keyup)="compdModel.frYmd = $event.sender.rawValue"
                                    (blur)="compdModel.frYmd = $event.sender.rawValue"
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtDatefield>

                                <ExtDatefield #endDateField
                                    label="회계연도종료일" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.toYmd || '')" 
                                    destroyPickerOnHide="true"
                                    [dateFormat]="'Ymd'"
                                    (keyup)="compdModel.toYmd = $event.sender.rawValue"
                                    (blur)="compdModel.toYmd = $event.sender.rawValue"
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtDatefield>
                            </ExtFieldset>
        
                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="대표자명" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.ceoNm || '')" 
                                    (keyup)="compdModel.ceoNm = $event.sender.rawValue"
                                    (blur)="compdModel.ceoNm = $event.sender.rawValue"
                                    [flex]="1"
                                    [required]="this.textRequired"
                                    [requiredMessage]="'대표자명을 입력하지 않았습니다.'"
                                ></ExtTextfield>

                                <ExtTextfield label="우편번호" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.zipNo || '')" 
                                    (keyup)="compdModel.zipNo = $event.sender.rawValue"
                                    (blur)="compdModel.zipNo = $event.sender.rawValue"
                                    [flex]="2"
                                    style="margin-left: 10px;"
                                    [editable]="false"
                                    [triggers]="{click: {type: 'search', side: 'right', handler : zipNoBtn }}"
                                >
                                </ExtTextfield>
                            </ExtFieldset>

                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="주소" [disabled]="true" 
                                    [value]="(compdModel.compAddr || '')"
                                    (keyup)="compdModel.compAddr = $event.sender.rawValue"
                                    (blur)="compdModel.compAddr = $event.sender.rawValue"
                                    [flex]="2.07"
                                ></ExtTextfield>
                            
                                <ExtTextfield label="상세주소" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.compAddrDesc || '')"
                                    (keyup)="compdModel.compAddrDesc = $event.sender.rawValue"
                                    (blur)="compdModel.compAddrDesc = $event.sender.rawValue"
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>
                            </ExtFieldset>
        
                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="담당자코드" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.reprPersonCd || '')" 
                                    (keyup)="compdModel.reprPersonCd = $event.sender.rawValue"
                                    (blur)="compdModel.reprPersonCd = $event.sender.rawValue"
                                    [flex]="1"
                                    [editable]="false"
                                    [triggers]="{click: {type: 'search', side: 'right', handler : reprPersonBtn}}"
                                ></ExtTextfield>

                                <ExtTextfield label="담당자연락처" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.eTaxBillPersonTelNo || '')" 
                                    (keyup)="compdModel.eTaxBillPersonTelNo = $event.sender.rawValue"
                                    (blur)="compdModel.eTaxBillPersonTelNo = $event.sender.rawValue"
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>

                                <ExtTextfield label="홈텍스ID" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.homeTaxId || '')" 
                                    (keyup)="compdModel.homeTaxId = $event.sender.rawValue"
                                    (blur)="compdModel.homeTaxId = $event.sender.rawValue"    
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>
                            </ExtFieldset>
                            
                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="홈페이지" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.homePage || '')"
                                    (keyup)="compdModel.homePage = $event.sender.rawValue"
                                    (blur)="compdModel.homePage = $event.sender.rawValue" 
                                    [flex]="1"
                                ></ExtTextfield>

                                <ExtTextfield label="계정그룹번호" [disabled]="this.compdFormDisable"
                                    [value]="(compdModel.accGroupNo || '')"
                                    (keyup)="compdModel.accGroupNo = $event.sender.rawValue"
                                    (blur)="compdModel.accGroupNo = $event.sender.rawValue" 
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>

                                <ExtTextfield label="예산계정단계" [disabled]="this.compdFormDisable"
                                    [value]="(compdModel.budAccStep || '')"
                                    (keyup)="compdModel.budAccStep = $event.sender.rawValue"
                                    (blur)="compdModel.budAccStep = $event.sender.rawValue" 
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>
                            </ExtFieldset>
                        </ExtPanel>

                        <ExtPanel [flex]="3" [border]="true" [bodyStyle]="{'background': '#ffffff'}" [scrollable]="true">
                            <ExtContainer layout="fit" fitToParent="true" height="30px">
                                <ExtTitlebar 
                                    docked="top" 
                                    [platformConfig]="{ 
                                    phone   : { titleAlign: 'center' } 
                                ,   desktop : { titleAlign: 'left' }
                                }" 
                                [height]="30"
                                >
                                    <ExtTitle [title]="'전자세금계산서'" [style]="{'font-size': '13px', 'margin-bottom': '13px'}"></ExtTitle>
                                </ExtTitlebar>
                            </ExtContainer>

                            <ExtFieldset layout="hbox">
                                <ExtTextfield label="담당자코드" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.reprPersonCd || '')"
                                    (keyup)="compdModel.reprPersonCd = $event.sender.rawValue"
                                    (blur)="compdModel.reprPersonCd = $event.sender.rawValue" 
                                    [flex]="1"
                                    [editable]="false"
                                    [triggers]="{click: {type: 'search', side: 'right', handler : reprPersonBtn}}"
                                 ></ExtTextfield>

                                <ExtTextfield label="담당자연락처" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.eTaxBillPersonTelNo || '')" 
                                    (keyup)="compdModel.eTaxBillPersonTelNo = $event.sender.rawValue"
                                    (blur)="compdModel.eTaxBillPersonTelNo = $event.sender.rawValue" 
                                    [flex]="1"
                                    style="margin-left: 20px;"
                                ></ExtTextfield>
                            </ExtFieldset>

                            <ExtFieldset>
                                <ExtTextfield label="담당자메일" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.eTaxBillPersonEmail || '')"
                                    (keyup)="compdModel.eTaxBillPersonEmail = $event.sender.rawValue"
                                    (blur)="compdModel.eTaxBillPersonEmail = $event.sender.rawValue" 
                                    [flex]="1"
                                ></ExtTextfield>
                            </ExtFieldset>
                        </ExtPanel>

                        <ExtPanel [flex]="1" [border]="true" [bodyStyle]="{'background': '#ffffff'}">
                            <ExtFieldset>
                                <ExtTextfield label="비고" [disabled]="this.compdFormDisable" 
                                    [value]="(compdModel.remk || '')"
                                    (keyup)="compdModel.remk = $event.sender.rawValue"
                                    (blur)="compdModel.remk = $event.sender.rawValue" 
                                    [flex]="1"
                                ></ExtTextfield>
                            </ExtFieldset>
                        </ExtPanel>

                    </ExtFormpanel>
                </ExtContainer>
            </ExtPanel>
        </ExtPanel>
    </ExtPanel>
</ExtContainer>